[submodule "pydicom"]
	path = pydicom
	url = https://github.com/pydicom/pydicom
[submodule "numpy"]
	path = numpy
	url = https://github.com/numpy/numpy.git
[submodule "requests"]
	path = requests
	url = https://github.com/requests/requests.git
[submodule "XlsxWriter"]
	path = XlsxWriter
	url = https://github.com/jmcnamara/XlsxWriter
[submodule "pynetdicom3"]
	path = pynetdicom3
	url = https://github.com/pydicom/pynetdicom3
[submodule "reportlab"]
	path = reportlab
	url = https://github.com/Distrotech/reportlab
