.DS_STORE
.idea/
*_tmp_*
*.swp
*.pyc
certificates.xml
colors.scheme.xml
debugger.xml
editor.*
filetypes.xml
find.xml
vim*
markdown.xml
vcs.xml
ui.lnf.xml
github.xml
diff.xml
code.style.schemes.xml
_windows/
_windows/laf.xml
codestyles/
codestyles/Default.xml
.vscode/settings.json
.env
